@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    position: relative;
    height: 100vh;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 3rem;
}
@media screen and (max-width: 768px) {
    .container{
        flex-direction: column; 
    }
    body{
        height: 120vh;
    }
}
.card {
    max-width: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    max-height: 400px;
    cursor: pointer;
}

.card img{
    max-height: 400px;
    transition: .5s ease;
    padding: auto;
    
}
.cardContent{
    position: absolute;
    width: 100%;
    bottom: -2.6rem;
    padding: 1rem;
    box-sizing: border-box;
    background: #777777aa;
    backdrop-filter: blur(1px);
    /* transform: translateY(2.5rem); */
    transition: 0.5s ease;
}
.title , .description{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.3rem 0;
    color: #eee;

}
.title h2{
    text-transform: capitalize;
}
.description p{
    font-weight: 300;
}
.card:hover .cardContent{
    bottom: 0;
}
.card:hover > img{
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .cardContent{
        bottom: 0;
    }
}